<div>
    <h1>Sign Up</h1>
</div>
<div class="ui form segment" data-ng-form data-ng-submit="vm.signUp()" name="vm.signUpForm">
    <div class="two fields">
        <div class="field" data-ng-class="{'error': vm.signUpForm.firstName.$touched && !vm.signUpForm.firstName.$valid}">
            <label for="firstName1">First Name:</label>
            <input name="firstName" id="firstName1" data-ng-model="vm.user.firstName" maxlength="20" required />
            <div data-ng-show="vm.signUpForm.firstName.$touched && !vm.signUpForm.firstName.$valid">
                <span class="ui basic red pointing prompt label transition visible">Please enter your first name</span>
            </div>
        </div>
        <div class="field" data-ng-class="{'error': vm.signUpForm.lastName.$touched && !vm.signUpForm.lastName.$valid}">
            <label for="lastName1">Last Name:</label>
            <input name="lastName" id="lastName1" data-ng-model="vm.user.lastName" maxlength="30" required />
            <div data-ng-show="vm.signUpForm.lastName.$touched && !vm.signUpForm.lastName.$valid">
                <span class="ui basic red pointing prompt label transition visible">Please enter your last name</span>
            </div>
        </div>
    </div>
    <div class="two fields">
        <div class="field" data-ng-class="{'error': vm.signUpForm.phoneNumber.$touched && !vm.signUpForm.phoneNumber.$valid}">
            <div class="ui icon">
                <label for="phoneNumber1">Phone Number:</label>
                <i class="popup help icon link" data-content="I can only deliver text messages to numbers in the United States." data-dg-semantic-popup></i>
            </div>
            <div class="ui icon input">
                <i class="search icon"></i>
                <input name="phoneNumber" id="phoneNumber1" type="tel" data-ng-model="vm.user.phoneNumber"
                       data-ng-pattern="vm.phoneNumberRegExp" required />
            </div>
            <div data-ng-show="vm.signUpForm.phoneNumber.$touched && !vm.signUpForm.phoneNumber.$valid">
                <span class="ui basic red pointing prompt label transition visible">Please enter a valid phone number</span>
            </div>
        </div>
        <div class="field" data-ng-class="{'error': vm.signUpForm.emailAddress.$touched && !vm.signUpForm.emailAddress.$valid}">
            <div class="ui icon">
                <label for="emailAddress1">Email Address:</label>
                <i class="popup help icon link" data-content="Your email address serves as an additional identification method in case you lose your phone." data-dg-semantic-popup></i>
            </div>
            <div class="ui icon input loading">
                <input name="emailAddress" id="emailAddress1" type="email" data-ng-model="vm.user.emailAddress"
                <i class="search icon"></i>
            </div>
            <div data-ng-show="vm.signUpForm.emailAddress.$touched && vm.signUpForm.emailAddress.$error.unique">
                <span class="ui basic red pointing prompt label transition visible">Someone else already registered with this email address.</span>
            </div>
            <div data-ng-show="vm.signUpForm.emailAddress.$touched && !vm.signUpForm.emailAddress.$valid && !vm.signUpForm.emailAddress.$error.unique">
                <span class="ui basic red pointing prompt label transition visible">Please enter a valid email address</span>
            </div>
        </div>
    </div>
    <div>
        <button id="submit-button" type="submit" value="Register" class="ui right labeled icon button">
            <i class="right arrow icon"></i>
            Next
        </button>
    </div>
</div>
<!-- ToDo: Use constants to combined 2 modals into 1.-->
<div id="success" class="ui small basic modal transition">
    <div class="ui icon header">
        <i class="send outline icon"></i>
        Thank you! Confirmation codes are on the way.
    </div>
    <div class="content">
        <p>You should receive a confirmation code in a text message from me shortly and an email with directions on how to proceed.</p>
    </div>
    <div class="actions">
        <div class="ui blue ok inverted button">
            <a href="/"><i class="checkmark icon"></i>
                Okay</a>
        </div>
    </div>
</div>
<div id="failure" class="ui small basic modal transition">
    <div class="ui icon header">
        <i class="send outline icon"></i>
        Sorry! That email address and/or phone number are already registered.
    </div>
    <div class="content">
        <p>You should receive a confirmation code in a text message from me shortly and an email with directions on how to proceed.</p>
    </div>
    <div class="actions">
        <div class="ui blue ok inverted button">
            <a href="#"><i class="checkmark icon"></i>
            Okay</a>
        </div>
    </div>
</div>