<div>
    <h1>Register</h1>
</div>
<div class="ui form segment" data-ng-form data-ng-submit="vm.register()" name="vm.registrationForm">
    <div class="two fields">
        <div class="field" data-ng-class="{'error': vm.registrationForm.firstName.$touched && !vm.registrationForm.firstName.$valid}">
            <label for="firstName1">First Name:</label>
            <input name="firstName" id="firstName1" data-ng-model="vm.user.firstName" maxlength="20" required />
            <div data-ng-show="vm.registrationForm.firstName.$touched && !vm.registrationForm.firstName.$valid">
                <span class="ui basic red pointing prompt label transition visible">Please enter your first name</span>
            </div>
        </div>
        <div class="field" data-ng-class="{'error': vm.registrationForm.lastName.$touched && !vm.registrationForm.lastName.$valid}">
            <label for="lastName1">Last Name:</label>
            <input name="lastName" id="lastName1" data-ng-model="vm.user.lastName" maxlength="30" required />
            <div data-ng-show="vm.registrationForm.lastName.$touched && !vm.registrationForm.lastName.$valid">
                <span class="ui basic red pointing prompt label transition visible">Please enter your last name</span>
            </div>
        </div>
    </div>
    <div class="two fields">
        <div class="field" data-ng-class="{'error': vm.registrationForm.phoneNumber.$touched && !vm.registrationForm.phoneNumber.$valid}">
            <div class="ui icon">
                <label for="phoneNumber1">Phone Number:</label>
                <i class="popup help icon link" data-content="I can only deliver text messages to numbers in the United States." data-dg-semantic-popup></i>
            </div>
            <div class="ui icon input">
                <i class="search icon"></i>
                <input name="phoneNumber" id="phoneNumber1" type="tel" data-ng-model="vm.user.phoneNumber"
                    data-ng-pattern="vm.phoneNumberRegExp" required />
            </div>
            <div data-ng-show="vm.registrationForm.phoneNumber.$touched && !vm.registrationForm.phoneNumber.$valid">
                <span class="ui basic red pointing prompt label transition visible">Please enter a valid phone number</span>
            </div>
        </div>
        <div class="field" data-ng-class="{'error': vm.registrationForm.emailAddress.$touched && !vm.registrationForm.emailAddress.$valid}">
            <div class="ui icon">
                <label for="emailAddress1">Email Address:</label>
                <i class="popup help icon link" data-content="Your email address serves as an additional identification method in case you lose your phone." data-dg-semantic-popup></i>
            </div>
            <div class="ui icon input loading">
                <input name="emailAddress" id="emailAddress1" type="email" data-ng-model="vm.user.emailAddress"
                    maxlength="60" required/>
                <i class="search icon"></i>
            </div>
            <div data-ng-show="vm.registrationForm.emailAddress.$touched && vm.registrationForm.emailAddress.$error.unique">
                <span class="ui basic red pointing prompt label transition visible">Someone else already registered with this email address.</span>
            </div>
            <div data-ng-show="vm.registrationForm.emailAddress.$touched && !vm.registrationForm.emailAddress.$valid && !vm.registrationForm.emailAddress.$error.unique">
                <span class="ui basic red pointing prompt label transition visible">Please enter a valid email address</span>
            </div>
        </div>
    </div>
    <div>
        <button type="submit" value="Register" class="ui right labeled icon button">
          <i class="right arrow icon"></i>
            Next
        </button>
    </div>
</div>